<div id="<%= dom_id race %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Location:</h4>
    <p class="leading-none"><%= race.location %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Distance:</h4>
    <p class="leading-none"><%= race.distance %></p>
  </div>
</div>
