<% content_for :title, t("races.new.title") %>

<h1 class="font-bold text-4xl mbe-4"><%= t("races.new.title") %></h1>

<%= render "form", race: @race %>

<div class="inline-flex flex-wrap items-center gap mbs-2" style="--row-gap: .5rem">
  <%= link_to t("races.new.back_to_races"), races_path, class: "btn" %>
</div>
