<% content_for :title, "New run" %>

<h1 class="font-bold text-4xl mbe-4">New run</h1>

<%= render "form", run: @run %>

<div class="inline-flex flex-wrap items-center gap mbs-2" style="--row-gap: .5rem">
  <%= link_to "Back to runs", runs_path, class: "btn" %>
</div>
